/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-light-pink: #ff9f9f;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }
  
  body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      cursor: default;
  }

  a {
    text-decoration: none;
    color: var(--color-white);
  }

  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* Navbar */
  #navbar {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-light-pink);
      align-items: center;
      padding: 10px;
  }

  .navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

/* Home */
#home {
  background: url('/Web_7team-main/imgs/home-background.png') center/cover no-repeat;
  padding: 60px;
  text-align: center;
}

#home__title{
  color: var(--color-white);
  padding: 30px;
}

.home__searchbox{
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 1px solid #51e3d4;
  background-color: var(--color-white);
  width: 280px;
}

#search__text{
  padding: 0;
  width: 240px;
  border: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
}

#search__btn{
  color: #51e3d4;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* selection */
#selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
  margin: auto;
}

.selection__button{
  cursor: pointer;
  width: 450px;
  height: 270px;
  margin: 40px 30px;
  background-color: var(--color-pink);
  background-size: 100% auto;
  border: none;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.selection__title{
  color: var(--color-white);
  padding: 30px;
}