:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-pink: #ff9f9f;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16.5px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-light-pink);
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

img {
  width: 400px;
  height: 310px;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: relative;
    z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
#subject{
  background-color: #feeaea;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
}

.subject__title{
  padding: 80px;
  margin: 0;
}

/* Roulette */
#spin {
  width: 100px;
  height: 50px;
}

#canvas {
  margin-left: 10%;
}
#add{
  width: 100px;
  height: 50px;
}
#inputdata{
  width: 100px;
  height: 50px;
  margin-left: 10%;
}